@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-100 text-slate-800 antialiased;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply rounded-full bg-slate-300;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-400;
}

input[type='date'],
input[type='month'] {
  @apply appearance-none;
}

@media print {
  aside {
    display: none !important;
  }
  header {
    display: none !important;
  }
  .lg\:pl-72 {
    padding-left: 0 !important;
  }
  main {
    padding: 0 !important;
    max-width: 100% !important;
  }
  body {
    background: #fff !important;
  }
}